@import-normalize;

:root {
  /* colors */
  --black: #010200;
  --white: white;
  --light-grey: #f1f4f8;
  --grey: #37496280;
  --dark-grey: #555;
  --border-color: #e5e8ec;
  --red: #db2b21;
  --info-red: #ef7171;
  --info-red-lighter: #ffe6e6;
  --info-yellow: #edc358;
  --info-yellow-lighter: #fff3d5;
  --info-green: #8cc495;
  --info-green-lighter: #e4fde8;
  --info-blue: #70a9eb;
  --info-blue-lighter: #e6f2ff;
  --interactive-danger: var(--red);
  --interactive-disabled: #e6ebf2;

  /* sizes */
  --table-footer-height: 64px;
  --base-indent: 16px;
  --aside-width: 385px;
  --button-inline-indent-s: 18px;
  --button-inline-indent-m: 28px;
  --info-inline-indent-s: 12px;
  --info-inline-indent-m: 16px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Open Sans, system-ui;
  color: var(--black);
  background-color: var(--light-grey);
}

body,
p,
h2,
h3 {
  margin: 0;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

input {
  padding: 0;
  border: 0;

  &:focus {
    outline: 0;
  }
}

::-webkit-scrollbar {
  inline-size: 8px;
  block-size: 8px;
}

::-webkit-scrollbar-track {
  background: var(--light-grey);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--dark-grey);
}

::-webkit-scrollbar-corner {
  background: var(--light-grey);
}
